<div *ngFor="let data of sections">
    <div *ngFor="let row of data.layout_json" class="section_container" [ngClass]="row.fullwidth? '':'container'" [ngStyle]="row.columns ? assign(row) : ''">
        <!-- <div *ngIf="row.columns && row.columns.length > 0"> -->
            <div *ngFor="let col of row.columns">
                <div *ngIf="col.components && col.components.length > 0">
                    <div *ngFor="let component of col.components">
                        <app-test [row]="component"></app-test>
                    </div>
                </div>
                <!-- <div *ngIf="col.rows && col.rows.length > 0"> -->
                    <div *ngFor="let row_ of col.rows" class="section_container" [ngStyle]="row.columns ? assign(row_) : ''">
                        <!-- <div *ngIf="row_.columns && row_.columns.length > 0"> -->
                            <div *ngFor="let col_ of row_.columns">
                                <div *ngIf="col_.components && col_.components.length>0">
                                    <div *ngFor="let each_component of col_.components">
                                        <app-test [row]="each_component"></app-test>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                <!-- </div> -->
            </div>
        <!-- </div> -->
    </div>
</div>