.m-h{
    min-height: 0% !important;
   
    // background: #cccc;
}

// .absolute{
//     position: absolute !important;
//     width: 100%;
// }


.transparent_header{
    position: fixed!important;
    width: 100%!important;
    left: 0;

}